<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
      {% block content%}
      <form action="product" autocomplete="off">
         Mobile <input type="text" name="mobile">
         Keyboard <input type="text" name="keyboard">
         Monitor <input type="text" name="monitor">
         <input  type="submit" >
      </form>
      {% endblock %}
</body>
</html>